@import "../../variables/variables";

.ad-card-services {
  padding: $space-base;
  margin: $space-base;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: $card-box-shadow;
  background-color: $color-white;
  border-radius: $border-radius-base;
  flex: 1;

  // For desktop and tablets.
  @media (min-width: $screen-xs) {
    & {
      padding: $space-base-double;

      &_grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -$space-base;
      }
    }
  }

  &_head {
    display: flex;
    justify-content: center;
  }

  &_body {
    flex: 1;
    line-height: 1.5;
  }

  &_title {
    font-family: $card-font-family;
    font-size: $card-font-size;
    margin: $card-title-spaces;
    line-height: 1.2;
  }

  &_actions {
    padding-top: $space-base;
  }
}

