@import "../../variables/variables";

.ad-card-about {
  padding: $space-base;
  display: flex;
  flex-direction: column;
  width: 100%;

  // For desktop.
  @media (min-width: $screen-xs) {
    & {
      max-width: $about-card-width;

      &_grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  &_icon {
    svg {
      height: $about-card-icon-size;
      width: $about-card-icon-size;
      color: $about-card-icon;
    }

  }

  &_body {
    flex: 1;
  }

  &_title {
    margin: $space-base-half 0;
    font-family: $font-roboto-bold;
    line-height: 1.2;
  }
}
