@import "./variables/variables";
@import "./mixins/mixin-container";
@import "./mixins/mixin-head";

.ad-section {
  padding: $section-spaces-mob;

  &_title {
    @include head('h3')
  }

  &_subtitle {
    color: $color-grey-dark;
    margin-bottom: $space-base-double;
    font-size: $font-size-large;
  }

  &_container {
    @include container;
  }

  // For desktop and tablets.
  @media (min-width: $screen-xs) {
    padding: $section-spaces;
  }
}
