@import "../../variables/variables";

@mixin btn-variant($background, $color, $background-action, $color-action) {
  height: $btn-height;
  font-family: $font-roboto-bold;
  font-size: $btn-font-size;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $space-base-half $space-base-double;
  background-color: $background;
  border-radius: $border-radius-base;
  color: $color;
  white-space: nowrap;
  cursor: pointer;
  border: unset;

  &:hover,
  &:active,
  &:focus {
    background: $background-action;
    color: $color-action;
  }


  // For mobile.
  @media (max-width: $screen-xs) {
    width: 100%;
  }
}
