@import 'variables-color';

/*
* Fonts.
*/
$font-roboto-bold: 'Roboto-Bold', Arial, sans-serif;
$font-roboto-regular: 'Roboto-Regular', Arial, sans-serif;
$font-roboto-light: 'Roboto-Light', Arial, sans-serif;

/*
* Screens.
*/
$screen-xs: 460px;
$screen-md: 680px;

/*
* Spaces.
*/
$space-base: 18px;
$space-base-half: $space-base/2;
$space-base-double: $space-base*2;
$space-base-triple: $space-base*3;

/*
* Fonts.
*/
$font-size-largest: 42px;
$font-size-large: 20px;
$font-size-base: 16px;
$font-size-small: 12px;

/*
* Cards.
*/
$card-font-family: $font-roboto-bold;
$card-font-size: $font-size-large;
$card-title-spaces: $space-base 0;

/*
* Circle.
*/
$circle-size: 64px;
$circle-icon-size: 26px;

/*
* Typography.
*/
$h3-font-family: $font-roboto-bold;
$h3-font-size: $font-size-largest;
$h3-font-spaces: 0 0 $space-base;

/*
* Body.
*/
$body-font-family: $font-roboto-light;
$body-font-size: $font-size-base;
$body-line-height: 1.4;

/*
* Button.
*/
$btn-height: 54px;
$btn-font-size: $font-size-base;

/*
* Section.
*/
$section-spaces: 120px 0;
$section-spaces-mob: $space-base-double 0;

/*
* Footer.
*/
$footer-social-icon-size: 28px;
$footer-head: 120px;

/*
* Animations.
*/
$transition-base: .27s ease-in-out;

/*
* Border Radius.
*/
$border-radius-base: 2px;

/*
* Scrollbar.
*/
$scrollbar-size: 8px;

/*
* About.
*/
$about-card-width: 380px;
$about-card-icon-size: 40px;

